<%- include("./partials/header") %>

<section class="mt-5 pt-5 px-5 container mb-5" id="background-elem">
  <a href="/catalog" class="btn btn-b"
    ><i class="bi bi-arrow-left"></i> Return to browse</a
  >

  <!-- all items -->
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% let i = 1 %> <% cart.forEach(item =>{ %>
      <tr>
        <th scope="row"><%= i%></th>
        <td>
          <img class="cart-image" src="<%= item.image%>" />
        </td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td class="cart-qty">
          <a href="#" class="btn btn-y">
            <i class="bi bi-dash"></i>
          </a>
          <span class="px-2"><%= item.count %></span>
          <a href="#" class="btn btn-y">
            <i class="bi bi-plus"></i>
          </a>
        </td>
        <td class="cost_per_product"><%= item.count * item.price %></td>
        <td>
          <form action="/cart/<%= item.id %>/remove?_method=PUT" method="POST">
            <button type="submit" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      <% i++ %> <% }) %>
    </tbody>
  </table>
  <div class="pt-3">
    <p class="d-inline">
      <strong>Total: </strong><span id="total">49.99</span> AED
    </p>
  </div>
</section>

<script>
  let costs = document.getElementsByClassName("cost_per_product");

  let total_cost = 0;

  for (let product of costs) {
    total_cost += parseFloat(product.innerText);
  }

  document.getElementById("total").innerText = total_cost;

  document.getElementById("catalog").classList.add("active");
  document.getElementsByTagName("body")[0].id = "bg-img-market";
</script>

<%-include("./partials/footer") %>
